*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 
@font-face {
    font-family:'Roboto';
    src: url('fonts/Roboto-Black.eot');
    src: url('fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-Black.woff') format('woff'),
    url('fonts/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */
    
html {

    font-family: 'Roboto Black', sans-serif;

}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
    
    
}

h1 {
    margin-top: 53px;
}

.main_header {
    background: url('img/bg/main_bg.svg') center center/cover no-repeat;
    min-height: 800px;
    padding: 39px 0 58px 0;

}
.logo .logo_img {
    display: block;
    margin: 0 auto;

}
.logo .logo_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 14px;
}
.title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
}
.title_big{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 21px;
    }
h2.title {
    margin-top: 30px;
}
.promo_text {
    margin-top: 14px;
    margin-bottom: 20px;
    width: 1144px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: #FFFFFF;
}


.container .promo_text span {
    color: #F9BF3B;
    font-weight: 700;
}
.promo_btn{
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    left: 805px;
    top: 551px;
    background: linear-gradient(0deg, #2798B9 0%, #54b9d4 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 24px;
    color: #FFFFFF;    
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    outline: none;

}
.more {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.more_main img {
    display: block;
    margin: 14px auto;
    }

.waiting {
    background: #EFEFEF;
}

.waiting_container {
    min-height: 604px;
    padding: 85px 0 75px 0;
    width: 1140px;
    display: block;
    margin: 0 auto;

}
.waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
  
}
.waiting_h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}
.waiting .waiting_divider {
    margin: 18px auto;
    width: 220px;
    height: 7px;
    left: 851px;
    top: 129px; 
    background: #F9BF3B;
}
.waiting_subheader {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    align-items: center;
    text-align: center;
    color: #4A4A4A;

}
.waiting .waiting_wrapper .waiting_item {
    width: 342px;
    left: 1180px;
    top: 220px;;
    text-align: center;
}
.waiting .waiting_wrapper .waiting_item .waiting_desc {
    margin-top: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    align-items: center;
    text-align: center;
    color: #4A4A4A;
}
.optimization {
    min-width: 550px;
    padding: 102px 0 107px 0;
}
.optimization .optimization_header {
    margin-left: 391px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 29px;
    align-items: center;
    text-transform: uppercase;
    color: #299CBD;
}
.optimization .optimization_text {
    margin-left: 391px;
    width: 750px;
    height: 312px;
    left: 629px;
    top: 116px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    margin-top: 25px;
}
.optimization .optimization_text span {

    font-family: Roboto Bold;
    font-weight: 700;
}


.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}



.finish {
    
    background: url('img/bg/second_bg.svg') center center/cover no-repeat;
    padding: 86px 0 79px 0;
    min-height: 445px;
}
.finish .finish_divider {
    margin: 18px auto;
    width: 220px;
    height: 7px;
    left: 851px;
    top: 129px; 
    background: #F9BF3B;
}

.finish .finish_h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #EFEFEF;

}
.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}
.finish .finish_wrapper .finish_item {
    width: 234px;
}
.finish .finish_wrapper .finish_item .finish_round {
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.finish .finish_wrapper .finish_item .finish_desc {
    margin-top: 25px;
    text-align: center;
    color: #EFEFEF;
}
.bonus{
    min-height: 631px;
    background: #EFEFEF;justify-content: center;
}
.bonus_text {
    margin-top: 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 43px;
    display: flex;
    text-align: center;
    color: #252525;
}
.bonus_img {
    display: block;
    margin: 0 auto;
    padding-top: 88px;
}
.bonus_btn {
    display: block;
    margin: 51px auto;
    width: 313px;
    height: 72px;
    left: 805px;
    top: 471px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    }

.img_webinar {
    display: block;
    margin: 0 auto;
    padding-top: 81px;
    
}
.text_webinar {
    margin-top: 36px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    color: #252525;
}
.text_webinar .h2_webinar {
    margin: 30px 0 24px 0;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    text-transform: uppercase;
    color: #299CBD;
}
.text_webinar span {
    text-transform: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
}
.footer {
    min-height: 169px;
    background: #1A1A1A;
}
.footer_text{
    text-align: center;
    padding: 57px 0 69px 0;
}
.footer_text a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #888888;
}
.footer_divider {
    display:inline-block;
    height: 11px;
    width: 1px;
    background-color: #888888;

}